header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 0 12px;
  min-height: 70px;
  max-height: 70px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}

.main-navigation {
  background-color: #FFFFFF;
  position: fixed;
  right: 0;
  height: 70px;
  z-index: 100;
  padding: 0 6%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
}

.main-navigation .item {
  color: #A7A7A7;
}

.main-navigation img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo img {
  width: 35px;
  height: 35px;
}

.fa-bell {
  position: relative;
}

.notification-count {
  display: inline-block;
  position: absolute;
  top: -9px;
  right: -15px;
  background: #F1556C;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
  font-family: 'Montserrat', 'Open Sans', 'Noto Sans';
}