header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 0 12px;
  min-height: 70px;
  max-height: 70px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}

.main-navigation {
  background-color: #FFFFFF;
  position: fixed;
  right: 0;
  height: 70px;
  z-index: 100;
  padding: 0 6%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
}

.main-navigation .item {
  color: #A7A7A7;
}

.main-navigation img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo img {
  width: 35px;
  height: 35px;
}

.fa-bell {
  position: relative;
}

.notification-count {
  display: inline-block;
  position: absolute;
  top: -9px;
  right: -15px;
  background: #F1556C;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
  font-family: 'Montserrat', 'Open Sans', 'Noto Sans';
}

#accountNavigation {
  position: fixed;
  top: 70px;
  background-color: #FFFFFF;
  width: auto;
  padding: 20px;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  color: #808080;
  font-size: 12px;
  right: 25%;
}

#accountNavigation .account-item {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.account-item i {
  margin-right: 20px;
}

.account-nav img {
  cursor: pointer;
}

.account-navigation-visible {
  display: block;
}

.account-navigation-hidden {
  display: none;
}